@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
  font-weight: 600;
  color: #000;
}

:root {}

body {
  background: #999;
  font-family: "Inter";
}

.menu_item {
  display: block;
  font-weight: 600;
  font-size: 15px;
  color: #000;
  width: 100%;
  padding: 10px 0 15px 20px;
  text-align: start;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.arrow img {
  width: 20px;
  height: 20px;
}

.nav {
  position: relative;
  text-align: center;
  background: #fff;
}

.nav a {
  text-decoration: none;
  display: block;
}

.nav ul:not(.nav ul:first-child) {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topmenu {
  position: absolute;
  left: 18%;
  z-index: 0;
  width: 33%;
  max-width: 400px;
}

.topmenu::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}

.topmenu>li:last-child {
  width: 100%;
  border-radius: 0 0 0 8px;
}

.topmenu>li {
  text-align: start;
  width: 100%;
  background: white;
}

.topmenu>li>a {
  display: flex;
  width: 100%;
}

.submenu {
  position: absolute;
  z-index: -2;
  left: 100%;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;
}

.submenu:before {
  content: "";
  position: absolute;
  z-index: -3;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}

.submenu>li {
  text-align: start;
  width: 100%;
  background: white;
}

.submenu>li>a {
  display: flex;
  width: 100%;
}

.submenu-2 {
  position: absolute;
  z-index: -4;
  left: 100%;
  top: 0;
  display: none;
  width: 50%;
  border-radius: 0 8px 8px 0;
  height: 100%;
  background: #fff;
}

.submenu-2>li:first-child>a {
  border-radius: 0 8px 0 0;
}

.submenu-2>li>a {
  display: flex;
  background: white;
  text-align: center;
  width: 100%;
}

.topmenu li:hover>.submenu {
  display: block;
}

.submenu li:hover>.submenu-2 {
  display: block;
}

.topmenu>li:hover {
  background: rgb(8, 118, 166, 0.2);
}

/* Стиль применяется, только если стоит пробел между li :hover, но окрашивается текст  */
.submenu-2>li :hover {
  background: rgb(8, 118, 166, 0.1);
}

.submenu>li:hover:has(.submenu-2 > li) {
  background: rgb(8, 118, 166, 0.2);
}

.left_side_menu {
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 0;
  margin: 0;
  background: #fff;
  width: 18%;
  text-align: start;
  list-style: none;
  border-radius: 0 0 0 8px;
}

.left_side_menu>li {
  text-align: start;
  width: 100%;
  background: white;
}

.left_side_menu>li:last-child {
  width: 100%;
  border-radius: 0 0 0 8px;
}

.left_side_menu>li>a {
  display: flex;
  width: 100%;
}

.left_side_menu:before {
  content: "";
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}